form {
  display: table;
  border-collapse: collapse;
  width: 90%;
  margin: 16px 32px;
}

input {
  display: table-cell;
  padding: 1rem 1rem;
  outline: none;
  font-size: 0.8rem;
  border: 1px solid makerGrey;
  border-collapse: collapse;
}
select {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.9rem 1rem;
  outline: none;
  border: 1px solid makerGrey;
}
textarea {
  padding: 1rem 1rem;
  outline: none;
  resize: none;
}
.one {
  width: 33.33%;
}

.two {
  width: 50%;
}

.three {
  width: 100%;
}

.four {
  width: 50%;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
label {
  width: 50%;
  height: 50px;
  padding: 0.8rem 1rem;
  background-color: makerGrey;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  color: makerWhite;
  cursor: pointer;
}

.added {
  background-color: makerPink;
}

.four {
  height: 49.5px;
  font-size: 16px;
  padding: 0.9rem 1rem;
  background-color: makerNavy;
  color: makerWhite;
}
