@value makerBlack from '../../common/colors.css';
@value makerNavy from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerPink from '../../common/colors.css';

.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox {
  width: 30rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: makerNavy;
  color: makerWhite;
}

.loginBox img {
  width: 50px;
  margin-top: 16px;
}

.loginBox h1 {
  font-size: 2rem;
}

.loginBtns {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: makerWhite;
  color: makerBlack;
  margin-top: 8px;
}

.loginBtns h1 {
  font-size: 2rem;
  margin: 16px 0px;
}

.btn {
  width: 95%;
  color: #3d4c55;
  background-color: #ffffff;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 15px 50px;
  margin: 4px 0px;
  cursor: pointer;
  font-weight: 700;
}
button:hover {
  background-color: makerPink;
}

.footer {
  padding: 5px;
  font-weight: 100;
}
