@value makerBlack from './common/colors.css';
@value makerWhite from './common/colors.css';
@value makerGrey from './common/colors.css';

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: makerGrey;
}

h1 {
  margin: 0;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}
